.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#Aplication {
  background-color: #e2edff;
}
#Branding {
  background-color: #e2edff;
}
#Contact {
  background-color: #e2edff;
}
section{
  padding: 5rem;
}